// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.dot {
    color: red;
    font-weight: 500;
    margin-right: 0.2rem;
}

.social-media-list {
    li a {
        border: none !important;
        svg {
            fill: white;
        }
        &:hover svg {
            transition: 0.3s;
            transform: scale(1.5, 1.5);
        }
    }

    li:nth-child(1) a:hover svg {
        fill: #0077b5;
    }
    li:nth-child(2) a:hover svg {
        fill: mediumpurple;
    }
    li:nth-child(3) a:hover svg { 
        fill: #ffe38d;
    }
}

.post-link {
    color: #007bff !important;
    &:hover {
        color: rgba(0,123,255, 0.7) !important;
    }
}

.page-link {
    color: white !important;
    &:hover {
        color: rgba(255,255,255,0.5) !important;
        text-decoration: none;
    }
}

.site-logo {
    width: 32px;
    height: 32px;
    border-radius: 25%;
}

.post-meta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .post-meta {
        border-top: 1px solid red;
        font-size: 18px;
        color: white;
        margin-top: 5px;
    }
}

.linked-heading {
    position: relative;

    .heading-anchor-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 1em;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);

        &:hover {
            .heading-anchor {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &:hover {
        .heading-anchor {
            visibility: visible;
            opacity: 1;
        }
    }

    .heading-anchor {
        visibility: hidden;
        opacity: 0;
        display: flex;
        margin-left: 4px;
        transition: visibility 0.2s ease, opacity 0.2s ease;
    }
}
