// Placeholder to allow overriding predefined variables smoothly.
$background-color: #141414;
$border-color-02: red;
$link-base-color: #007bff;
$link-hover-color: rgba(0,123,255, 0.7);
$link-visited-color: #007bff;